@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<AutoStop.Models.Cars>

@{
    ViewData["Title"] = "Index";
}

<h1>Мои автомобили</h1>

<p>
    <a asp-action="Create" role = "button" class = "btn btn-primary">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chair)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drivers)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chair)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drivers.Id)
            </td>
            <td>
                <div class = "btn-group-vertical">
                    <a class = "btn btn-primary" role = "button" asp-action="Edit" asp-route-id="@item.id">Редактировать</a> 
                    <a class = "btn btn-outline-primary" role = "button" asp-action="Details" asp-route-id="@item.id">Подробнее</a> 
                    <a class = "btn btn-danger" role = "button" asp-action="Delete" asp-route-id="@item.id">Удалить</a>
                    <a class = "btn btn-outline-success" role = "button" asp-action = "CategoryAdd" asp-route-CarsId = "@item.id">Добавить категорию</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

